body {
  font-family: "Poppins", sans-serif;
  background: #f6f7fb;
  margin: 0;
  padding: 0;
}

.container {
  width: 600px;
  margin: 50px auto;
  background: rgb(170, 44, 143);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

h1, h2 {
  text-align: center;
  color: #333;
}

.products, .cart {
  margin-top: 20px;
}

.product, .cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 8px 0;
  border-bottom: 1px solid #ddd;
}

button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
