.form1{
  text-align: center;
  margin-top:80px;
  padding:20px;
  font-family:Arial, Helvetica, sans-serif;

}
.form2{
  background-color:aqua;
  border-radius:10px;
  padding:20px;
  margin:20px auto;
  width:60%;
  font-style: italic;
  font-size:20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}